[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/vim-scripts/ctrlp.vim.git
        ignore = untracked
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/vim-scripts/fugitive.vim.git
        ignore = untracked
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = git://github.com/vim-scripts/Command-T.git
        ignore = untracked
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/vim-scripts/pyflakes.git
        ignore = untracked
[submodule "vim/bundle/Tagbar"]
	path = vim/bundle/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
        ignore = untracked
[submodule "vim/bundle/Solarized"]
	path = vim/bundle/Solarized
	url = git://github.com/vim-scripts/Solarized.git
        ignore = untracked
[submodule "vim/bundle/snipMate"]
	path = vim/bundle/snipMate
	url = git://github.com/vim-scripts/snipMate.git
        ignore = untracked
[submodule "vim/bundle/The-NERD-tree"]
	path = vim/bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
        ignore = untracked
[submodule "vim/bundle/tComment"]
	path = vim/bundle/tComment
	url = git://github.com/vim-scripts/tComment.git
        ignore = untracked
[submodule "vim/bundle/CRefVim"]
	path = vim/bundle/CRefVim
	url = git://github.com/vim-scripts/CRefVim.git
        ignore = untracked
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
#	url = git://github.com/vim-scripts/ag.vim.git
	url= https://github.com/rking/ag.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator.git
        ignore = untracked
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
        ignore = untracked
[submodule "vim/bundle/Syntastic"]
	path = vim/bundle/Syntastic
	url = git://github.com/vim-scripts/Syntastic.git
        ignore = untracked
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
        ignore = untracked
[submodule "vim/bundle/fireplace"]
	path = vim/bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
    ignore=untracked
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
    ignore=untracked
[submodule "vim/bundle/vim-slime"]
	path = vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
    ignore=untracked
[submodule "vim/bundle/paredit"]
	path = vim/bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
    ignore=untracked
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/vim-scripts/vim-indent-object.git
    ignore=untracked
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
    ignore=untracked
